

<div class="container">
	<div class="row">
	<h2 style="text-align:center">Log In
		</h2>
		<div style="width:30%;margin:20px auto">
<form action="/login" method="POST">
	<div class="form-group">
			<input class="form-control"  name="username" type="text" placeholder="username">
	       <input class="form-control"  name="password" type="password" placeholder="password">
	</div>
	<div class="form-group">
	<button class="btn btn-lg btn-primary btn-block">
		Login
	</button>
	</div>
</form>
		</div>
<li><a href="/register">Register</a></li>

	</div>
</div>

<%- include("partials/footer")%>
